*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 150px;
  --mark-size: calc(var(--cell-size) * .9);
}

body {
  margin: 0;
  background: #609EA1;
}

.title {
  text-align: center;
  color: white;
}

.players {
  color: white;
  width: 100%;
  display: flex;
}

.players .player {
  display: table;
  margin: 0 auto;
}

.game-board {
  width: 100vw;
  height: 70vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto)
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 2px solid #DEB987;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:last-child {
  border-bottom: none;
}

.cell.cross:before, .cell.cross::after {
  content: '';
  width: calc(var(--mark-size) * 0.11);
  height: var(--mark-size);
  background-color: white;
  position: absolute;
}

.cell.cross:before {
  transform: rotate(45deg);
}

.cell.cross::after {
  transform: rotate(-45deg);
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  color: white;
}

button:hover {
  background-color: green;
}

button.rewind {
  margin-right: 50px;
}

button.reset {
  margin-left: 50px;
}

.cell.circle::before, .cell.circle::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.cell.circle::before {
  width: calc( var(--mark-size) * 0.9);
  height: calc( var(--mark-size) * 0.9);
  background-color: white;
}

.cell.circle::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: #609EA1;
}
